* {
  margin: 0;
  font-family: Calibri, Arial;
}

.button {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

html, body {
  height: 100%;
}

body {
background-color: #F1F3F6;

}

.box, .button, .nav-bar {
  background-color: #F1F3F6;
  filter: drop-shadow(3px 3px 5px rgba(55,84,170,0.2)) drop-shadow(-3px -3px 4px rgba(255, 255, 255, 1));
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.3);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.3);
}

.phone-base {
  grid-area: phone;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background-color: white;
  box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.2), inset 30px 2px 30px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(80px 60px 50px rgba(107, 127, 153, 0.5));
}


.phone-screen {
  position: relative;
  top: 10px;
  left: 4px;
  width: 96%;
  height: 97%;
  box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.2), inset 30px 2px 30px rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(10, 10, 10, 0.2);
  border-radius: 37px;
  background-color: #F1F3F6;
}

.spacer {
  grid-area: spacer;
}

.spacer-left {
  grid-area: spacer-left;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 316.8px auto;
  grid-template-rows: auto 712.8px auto;
  grid-template-areas:
    'header header header'
    'spacer-left phone spacer'
    'footer footer footer';
  height: 100%;
  align-items: center;
  justify-content: center;
}
